<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
    {% if page.title == "Home" %}
    {% for item in site.data.education.featured %}
    <p><a style="font-weight:bolder;font-size:20px"> Sogang University </a> </p>
    <p><i> B.S. in Computer Science & Engineering</i>
      <span style="margin-left: 15px; font-size:15px; color:#555;"> Feb. 2020 - Present (Expected graduation: Feb. 2026) </span>
    </p>
    </p>
    {% endfor %}
    {% else %}
    {% for item in site.data.education.index %}
    <p><a href="{{ item.url }}">{{ item.name }}</a>
      <br>
      {{item.description}}
    </p>
    {% endfor %}
    {% endif %}
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research Interests</h3>
    {% if page.title == "Home" %}
    {% for item in site.data.education.featured %}
    <p><a style="font-size:16px">
      I have interests across a wide range of topics in software engineering and security, including but not limited to:
        <ul style="list-style-type:circle;
                   margin-left:0px;font-weight:bolder;">
        <li>Software Testing, Fuzz Testing, Program Analysis and Software
          Security</li>
    </a> </p>
    {% endfor %}
    {% else %}
    {% for item in site.data.education.index %}
    <p><a href="{{ item.url }}">{{ item.name }}</a>
      <br>
      {{item.description}}
    </p>
    {% endfor %}
    {% endif %}
  </div>
</div>
