<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Education</h3>
    {% if page.title == "Home" %}
    {% for item in site.data.education.featured %}
    <p><a style="font-weight:bolder;font-size:20px"> Sogang University </a> </p>
    <p><i> B.S. in Computer Science & Engineering</i>
      <span style="margin-left: 15px; font-size:15px; color:#555;"> Feb. 2020 - Present (Expected graduation: Feb. 2026) </span>
    </p>
    </p>
    {% endfor %}
    {% else %}
    {% for item in site.data.education.index %}
    <p><a href="{{ item.url }}">{{ item.name }}</a>
      <br>
      {{item.description}}
    </p>
    {% endfor %}
    {% endif %}
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Research Interest</h3>
    {% if page.title == "Home" %}
    {% for item in site.data.education.featured %}
    <p><a style="font-weight:bolder;font-size:16px"> A wide range of topics in software engineering and software security,
      including software testing, fuzzing and static analysis. </a> </p>
    {% endfor %}
    {% else %}
    {% for item in site.data.education.index %}
    <p><a href="{{ item.url }}">{{ item.name }}</a>
      <br>
      {{item.description}}
    </p>
    {% endfor %}
    {% endif %}
  </div>
</div>
